#main-recipe {
    align-items: center;
    background-color: brown;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.card-container {
    background-color: chocolate;
    height: 420px;
    overflow: hidden;
    width: 100%;
}

.recipe-card {
    background-color: darkgoldenrod;
    border: 4px solid white;
    box-sizing: border-box;
    height: 420px;
    width: 300px;
}