
// Slider

.slide {
    margin: 0 auto 50px auto;
    max-width: 1129px;
}

.cont {
    box-sizing: border-box;
    display: flex;
    height: 550px;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 30px 0 30px;
    width: 100%;
}

.card-slider {
    background-color: white;
    border: 1px solid rgba(198, 201, 210, 0.387183);
    border-radius: 6px;
    box-shadow: 0px 1px 4px $white2;
    box-sizing: border-box;
    height: 496px;
    max-width: 335px;
    min-width: 250px;
    position: relative;
    transition: all 0.3s linear;
    transform: scale(1);
    z-index: 1;
}

.slide h3 {
    color: $blue1;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 3px;
    padding: 32px 0 0 30px;
}

.slide span:first-of-type {
    display: block;
    color: $blue1;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 64px;
    padding-left: 30px;
}

.slide span:last-of-type {
    color: $blue2;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    padding-left: 30px;
}

.slide .img {
    align-items: center;
    display: grid;
    height: 178px;
    margin: 0 auto 68px auto;
    width: 215px;
}

.slide img {
    display: block;
    margin: auto;
}

.pass {
    width: 124px;
    margin: auto;
}

.pass img {
    cursor: pointer;
}

.btnld {
    margin-right: 35px;
}

.btnld:active, .btnrd:active {
    transform: scale(0.9);

    transition: transform 0.1s linear;
}

.btnld:hover, .btnrd:hover {
    -webkit-filter: contrast(2.8);
            filter: contrast(2.8);
}


// toggle

@media only screen and (min-width: 769px) {
    
    .slide-selected {
        box-shadow: 0px 2px 20px $white2!important;
        transform: scale(1.02)!important;
        z-index: 2;
    }
}